.accountInfo {
    position: fixed;
    left: 0px;
    top: 100px;
    width: 100%;
    height: calc(100% - 150px);
    background-color: rgb(31,34,39);
    user-select: none;
}

.accountInfo .loginCard .loginSelect{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50%);
}

.accountInfo .loginCard .loginSelect button {
    margin-inline: 10px;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 23px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgb(58,154,237), rgb(36,94,207));
}

.accountInfo .loginCard .loginSelect button:hover {
    background-image: linear-gradient(to bottom right, rgb(70,189,254), rgb(49,130,225));
    color: white;
}
.accountInfo .loginCard .tips {
    color: white;
    font-size: 41px;
    display: flex;
    justify-content: center;
    position: relative;
    top: calc(50% - 150px);
}

.container {
    position: fixed;
    left: 0px;
    top: 68px;
    width: 100%;
    height: calc(100% - 118px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31,34,39);
}

.item {
    width: 12px;
    height: 60px;
    margin: 0 2px;
    background-color: #fff;
    animation: wave 1.2s infinite ease-in-out;
    animation-delay: var(--delay);
}

@keyframes wave {
0%,40%,100% {
 transform: scale(0.4);}
20%{
 transform: scale(1);}
}