/* 遮罩层样式 */
#dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* 对话框样式 */
#dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: rgb(37,40,46);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

#dialog-header {
    padding: 25px 20px 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgb(0,204,255), rgb(51,103,255)) 1;
}

#dialog-body {
    position: relative;
    padding: 10px;
    color: rgb(173,178,181);
    border-top: 1px solid rgb(63,69,77);
    width: 400px;
    left: 15px;
}

#dialog-footer {
    padding: 10px;
    text-align: right;
}

#dialog-footer #dialog-close-button{
    border: none;
    font-size: 14px;
    height: 32px;
    width: 200px;
    color: rgb(214,221,229);
    background-image: linear-gradient(to bottom right, rgb(58,154,237), rgb(36,94,207));
    border-radius: 2px;
    transition: background-image 0.5s ease-in-out;
}

#dialog-footer #dialog-close-button:hover{
    background-image: linear-gradient(to bottom right, rgb(70,189,254), rgb(49,130,225));
    color: white;
    transition: background-image 0.5s ease-in-out;
}