body {
    margin-top: 32px;
    background-color: rgb(31,34,39);
 }
button:hover {
  cursor: pointer;
}
 /* 设置标题栏样式 */
 .title-bar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 32px;
   background-color: rgb(23,29,37);
   color: #fff;
   user-select: none;
   -webkit-app-region: drag;
   z-index: 9999;
 }
 .title-bar img {
  width: 14px;
  height: 14px;
  margin-left: 19px;
  margin-right: -24px;
 }
#navbar {
  z-index: 9999;
}

#navbar #account {
  top: 3px;
  position: relative;
}

.title-bar .buttons #close-btn:hover {
  background-color: rgb(226,42,39);
}
.title-bar .buttons #close-btn {
  margin: 1px;
}

 .title {
   font-size: 12px;
   margin-left: 30px; 
   color:rgb(139,146,154)
 }
       
 .buttons {
   display: flex;
   -webkit-app-region: no-drag;
 }
       
 .buttons button {
  background-color: transparent;
  margin-left: auto;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-app-region: no-drag;
  user-select: none;
  cursor: default;
  height: 32px;
  width: 32px;
 }
       
 .buttons button:hover {
  background-color: rgb(61,68,80);
 }
 /* 添加样式来美化导航栏 */
 ul {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    display: flex;
    height: 68px;
    padding: 0 8px;
    background-color: rgb(23,29,37);
    color: #fff;
    -webkit-app-region: drag;
 }
 
 li {
   float: left;
 }
 li button {
  background-color: transparent;
  border: none;
  color: rgb(196,199,200);
  text-align: center;
  padding: 9px 10px;
  font-size: 18px;
 }
 .bottomBar {
  position: fixed;
  bottom: 0;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(23,29,37);
  z-index: 1;
}
.bottomBar button{
  margin-top: 13px;
  margin-left: 15px;
  background: none;
  border: none;
  color: rgb(139,146,154);
}
.bottomBar button:hover{
  color: rgb(255,255,255);
}


button span {
   position: relative;
   top: -4px;
 }
 
 /* 添加样式来美化导航栏 */
 ul {
   -webkit-app-region: no-drag;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   user-select: none;
 }
 
 li {
   float: left;
 }
 li button{
   display: flex;
 }
 li a, .logo {
   display: block;
   color: rgb(196,199,200);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 .logo {
   height: 20px;
 }
 
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(123,131,146);
  border-radius: 10px;
}

.title-bar button .account {
  margin-left: auto;
    margin-right: 8px;
    background-color: rgb(39,45,55);
    color: rgb(150,150,150);
    border: none;
}

.title-bar .account {
  margin-left: auto;
    margin-right: 8px;
    background-color: rgb(39,45,55);
    color: rgb(150,150,150);
    border: none;
}
.title-bar .account #skinHead {
  position: relative;
  top: 1px;
  left: -3px;
}

.title-bar .account span {
  margin-left: 5px;
  margin-right: 8px;
}
