.gamesCard{
  top: 100px;
  bottom: 50px;
  position: fixed;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  background-color: rgb(30, 33, 37);
  user-select: none;
}

.selectVersion {
  top: 100px;
  position: fixed;
  left: 0px;
  width: calc(25%);
  height: calc(100% - 150px);
  background-color: rgb(36, 40, 47);
  overflow-y: auto;
  user-select: none;
}


.versionInfo {
  position: absolute;
  left: calc(25%);
  width: calc(75%);
  height: calc(100%);
  background-color: rgb(30, 33, 37);
  flex-direction: column;
}
  .showBgImage {
    width: 100%;
  }
  .card1 {
    position: relative;
  }
  
  .showVersion {
    color: rgb(235, 235, 235);
    position: relative;
    margin-top: -10%;
    left: 23px;
    bottom: 7px;
    font-size: 32px;
    text-shadow: 2px 2px 5px #333, -2px -2px 5px #666;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }
  .card2 {
    position: relative;
    height: calc(100%);
    backdrop-filter: blur(5px);
  }
  
  #start {
    border: none;
    margin-left: 16px;
    margin-top: 8px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(193,255,203);
    background-image: linear-gradient(to bottom right, rgb(78, 200, 48), rgb(25, 177, 78));
    border-radius: 3px;
    transition: background-image 0.5s ease-in-out;
  }

  #start:hover {
    background-image: linear-gradient(to bottom right, rgb(111, 214, 30), rgb(57, 191, 60));
    color: white;
  }
  .startBt span {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 16px;
  }
  #running {
    border: none;
    margin-left: 16px;
    margin-top: 8px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(255,255,255);
    background-image: linear-gradient(to bottom right, rgb(58,154,237), rgb(36,94,207));
    border-radius: 3px;
    transition: background-image 0.5s ease-in-out;
  }

 #running:hover {
    background-image: linear-gradient(to bottom right, rgb(70,189,254), rgb(49,130,225));
    color: white;
  }

  @media screen and (min-width: 1230px) {
    /* 在这里添加针对窗口宽度大于 1230 像素的设备的按钮样式 */
    #start{
        border: none;
        margin-left: 16px;
        top: 11px;
        width: 165px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: rgb(193,255,203);
        background-image: linear-gradient(to bottom right, rgb(78, 200, 48), rgb(25, 177, 78));
        border-radius: 3px;
        transition: background-image 1s ease-in-out;
      }
      #running{
        border: none;
        margin-left: 16px;
        top: 11px;
        width: 165px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: rgb(193,255,203);
        background-image: linear-gradient(to bottom right, rgb(58,154,237), rgb(36,94,207));
        border-radius: 3px;
        transition: background-image 0.5s ease-in-out;
      }
    .startBt span {
        margin-left: 16px;
        margin-top: 8px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
  }
  
  
