a {
    text-decoration: none;
}
.second-section {
	display: flex;
	justify-content: space-between;
	width: auto;
	height: 242px;
	margin: 0 auto;
	margin-bottom: 40px;
    /* background-color: skyblue; */
    
}
  
  @media screen and (max-width: 1870px) {
}
  
  @media screen and (max-width: 1654px) {
}
.autoShow {
	/* display: flex; */
	position: relative;
	width: 549px;
	height: 100%;
	opacity: 0;
	transition: opacity 0.2s;
	overflow: hidden;
	border-radius: 3px;
	float: left;
	margin: 0 auto;
}


.autoshow-wrapper img {
  width: 550px;
}

.autoshow-wrapper {
  /* display: flex; */
  width: 550px;
  position: relative;
  /* overflow: hidden; */
}
.autoshow-wrapper a {
  position: absolute;
  transition: transform 0.2s;
}
.autoShow .tigger span.on {
	border: 0;
	border-color: transparent;
	background-color: transparent;
	background-image: url(../img/AutoShowImg/pointer.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform: scale(3);
}
.secontAutoShow {
    position: relative;
    width: 320px;
    height: 314px;
    background-color: skyblue;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
}
.secontAutoShow a {
    position: absolute;
}
  
.secontAutoShow img {
    width: 320px;
}  
.secontAutoShow a {
    transition: all 0.3s;
}
.tigger {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 15px;
    justify-content: space-between;
    align-items: center;
}
  
.tigger span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 10px;
    z-index: 10;
    transition: all linear 0.2s;
}
  
.tigger span:hover {
    transform: scale(1.2);
    border: 2px solid #fff;
    background-color: #00a1d6;
}
.tigger2 {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 15px;
    justify-content: space-between;
    align-items: center;
}
.tigger2 span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 10px;
    z-index: 10;
    transition: all linear 0.2s;
}
  
  .tigger2 span:hover {
    transform: scale(1.2);
    border: 2px solid #fff;
    background-color: #00a1d6;
}
  
.tigger2 span.on {
    border: 0;
    border-color: transparent;
    background-color: transparent;
    background-image: url(../img/AutoShowImg/pointer.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(3);
}
