@charset "utf-8";
html, body {
  scroll-behavior: smooth;
}
body {
	background-color: rgba(31,34,39,1);
	margin: 0px;
	padding: 0px;
	color: rgba(196,199,200,1);
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.container .main {
	background-color: rgba(36,40,47,1);
	border-radius: 3px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	overflow: hidden;
	margin: 0 auto;
}


.container .main h3 {
	padding-bottom: 5px;
}
.container .main h2 {
	padding-right: 20px;
	padding-left: 20px;
}

.container .main p {
	text-indent: 2em;
	padding-right: 20px;
	padding-left: 20px;
}
.container .main .mq1 {
	direction: ltr;
}
.container .main img {
	display: block;
	margin: 0 auto;
}
.container .main .Neikuang {
	width: 650px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 5px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.container .main .Neikuang ul {
	list-style-type: disc;
}
.container .main .Shupai_a {
	display: block;
	list-style-type: none;
	width: 870px;
	margin-left: auto;
	overflow: hidden;
	margin-right: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.container .main .Shupai_a li {
	background-color: rgba(13,23,32,1);
	display: block;
	width: 200px;
	height: 250px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	overflow: hidden;
	margin-bottom: 5px;
}
.container .main .Shupai_a li a {
	line-height: 0px;
	text-decoration: none;
	display: block;
	height: 250px;
	width: 200px;
	color: rgba(196,199,200,1);
}


.container .main .Shupai_a li a p {
	text-indent: 0em;
}
.container .main .Shupai_a li a h4 {
	padding-left: 5px;
}

.container .fooder {
	background-color: rgba(36,40,47,1);
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}

.container .box {
	scroll-behavior: smooth;
	overflow: hidden;
	margin-top: 10px;
}

.container .item {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container input {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  border: 0;
  padding: 0;
  margin: 0;
  clip: rect(0 0 0 0);
}
.container .main .nav {
	width: 900px;
	height: 58px;
	justify-content: space-between;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	padding-left: 40px;
}
.container .main .nav>div {
	width: 200px;
	height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;
	background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
	border-radius: 3px;
	box-shadow: 0 0 4px #000;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}
.container .main .nav div a {
	color: #FFFFFF;
	display: block;
	line-height: 58px;
	width: 200px;
}
.container .main .nav div a:hover {
	color:#06F
}
